	{% extends 'layout.html.twig' %}

		{%   block content  %}

        <h1>{{title}}</h1> 
 <table class="table" border="1">
                <thead class="thead-dark">
                    <tr>
                        <th>Prenom</th>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>email</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
            {% for app in membre %}
            <tr>
               
                
                <td>{{ app.username }}</td>
                <td>{{ app.nom }}</td>
                <td>{{ app.email }}</td>
                <td><a href="{{ path('update_membre', { 'id' : app.id_membre } ) }}"><i class="far fa-edit"></i></a></td>
			    <td><a href="{{ path('delete_membre', { 'id' : app.id_membre } ) }}"><i class="far fa-trash-alt"></i></a></td>

            </tr>
            {% endfor %}
            </table>

        
    


        {% endblock %}